@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Medium.ttf') format('ttf'),
         url('Kanit-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt',  sans-serif;
}

body {
    min-height: 100vh;
    /*background-image: url("cloudbackground.png");*/
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(255, 255, 255);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 9px 40px;
    justify-content: space-between;
    align-content: center;
    z-index: 10;
}

header .logo  {
    width: auto;
    height: 65px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul il {
    
    list-style: none;
    margin-left: 20px;
}

header ul il a {
    font-family: 'Kanit';
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 15px;
}

header ul il a:hover {
    background-color: #777777;
    color:#ffff
  }

  .end-text{
    font-family: 'Kanit';
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-text-fill-color: #858585;
    background-color: #ffff;
}
      
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("cloudbackground.png");
    z-index: -10;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
